#upload {
    display: inline-block;
}

#sidebar {
    max-height: 90vh;
    overflow-y: scroll;
}
table {
    font-size: 12px;
}
#skill-file-upload {
	display:inline-block;
	width: auto;
}
#injectedSkillName {
	min-width: 360px;
	display:inline-block;
}
#injectGroup {
	display:inline-block;
}
#injectGroup .control {
	display:inline-block;
}